<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Projects", projects_path %></li>
    <li class="breadcrumb-item"><%= link_to @project.name, project_path(@project) %></li>
    <li class="breadcrumb-item active" aria-current="page">Tasks</li>
  </ol>
</nav>

<style="color: green"><%= notice %></p>

<h1><%= @project.name %> - Tasks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Due Date</th>
    <th>Complete</th>
    <th>Overdue</th>
    <th>Status</th>
  </tr>
  <% @tasks.each do |task| %>
    <td><%=task.name%></td>
    <td><%=task.due_date%></td>
    <td><%=task.name%></td>
    <td><%=task.name%></td>
    <td><%=task.name%></td>
  <%end%>
  <tr>
</table>

<%= link_to "New task", new_project_task_path(@project) %>
